html{
    color: black;
    background-color: white;
    text-align: center;
}
form{
    font-size: 10px;
    line-height: 30px;
}
#submit1{
    color: white;
    background-color: #008000;
}
label{
    font-size: 15px;
}
h1{
    font-family: "Press Start 2P";
    color: #008000;
}