.not-found-page {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0 auto;
    font-size: 120px;
    color: #FCDE2C;
}

h2 {
    color: #33342E;
    font-weight: 300;
    font-size: 28px;
}