@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik-VariableFont_wght.ttf');
}

@mixin wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1240px;
}

body {
    font-family: 'Rubik';
    background-color: #FFFFFF;
    margin: 0;
    line-height: 150%;
    -webkit-tap-highlight-color: transparent;
}

h2 {
    font-size: 24px;
    margin: 0;
    padding: 6px 0;
}

a {
    color: black;
    text-decoration: none;
}

span {
    color: #115EFB;
}

/* header */
header {
    height: 80px;

    .wrapper {
        @include wrapper;
    }

    p {
        color: #115EFB;
        font-weight: 500;
        font-size: 16px;
        margin: 0;
    }

    .items {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;

        a {
            border-radius: 8px;
            display: flex;
            flex-direction: row;
            gap: 12px;
            padding: 12px 20px;
        }

        a.active {
            background: #F3F6FA;
        }
    }
}

/* Footer */
footer {
    background: #0C368A;
    color: #B7CEFF;

    h2 {
        font-weight: 600;
    }

    p {
        margin: 0;
    }

    .wrapper {
        align-items: normal !important;
        padding: 42px 0;
        @include wrapper;
    }

    .about-company {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .phone {
        a {
            display: flex;
            flex-direction: row;
            gap: 13px;
            color: #B7CEFF;
        }

        img {
            width: 32px;
            height: 32px;
        }
    }

    .social-media {
        display: flex;
        gap: 20px;

        a {
            height: 36px;
        }

        img {
            width: 36px;
            height: 36px;
        }
    }
}

/* Страница 404 */
.not-found-page {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        margin: 0 auto;
        font-size: 140px;
        color: #FFEC41;
        font-weight: 200;
        text-shadow: 2px 4px 4px rgba(132, 132, 132, 0.5);
    }

    h2 {
        font-weight: bold;
        font-size: 28px;
    }

    .home-link {
        color: white;
        text-decoration: none;
        font-weight: 500;
        
        padding: 10px 25px;
        background: #115EFB;
        border-radius: 10px;

        box-shadow: 0 5px 10px rgba(0,0,0,0.25);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .home-link:hover {
        transform: translateY(-2px);
        box-shadow: 0 8px 12px rgba(0,0,0,0.3);
    }
}