.text-overflow {
    max-height: 100px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    
    font-family: Arial, sans-serif;
    font-size: 16px;
}