ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-size: 1.5rem;
}

li {
    display: inline; 
}
a {
    text-decoration: none;
    color: #0056ff;
}
a:hover {
    text-decoration: underline;
}
li:not(:last-child)::after {
    content: " >";
    font-weight: bold;
    margin: 0 4px; 
}
span {
    color: #333;
}