.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    font-family: Arial;
}

button {
    margin: 10px 5px 0 5px;
    padding: 5px 15px;
    cursor: pointer;
}