.search-bar {
  padding: 8px;
  border-radius: 10px;
  align-items: center;
}
.search-bar .icon {
  font-size: 20px;
}
.search-bar input {
  border: 0px;
  outline: none;
}
.search-bar input:focus {
  outline: none;
}
