:root {
  --bg: white;
  --text: black;
}

* {
  box-sizing: border-box;
  position: relative;
  color: var(--text);
}

body {
  overflow-x: hidden;
}

.expand-controller {
  font-weight: bold;
  display: flex;
  gap: 5px;
  padding: 5px 0px;
}
.expand-controller i {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

.collapse {
  max-height: 200px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.collapse::-webkit-scrollbar {
  display: none;
}

.collapse.expand {
  max-height: 500px;
  overflow-y: auto;
}
.collapse.expand ~ .expand-controller i {
  transform: rotate(180deg);
}

:root {
  --ok-color: #008000;
  --err-color: #ff0000;
  --ok-bg: #15c11586;
  --err-bg: #d43c3c;
  --warn-color: yellow;
  --required: red;
  --form-outline: #19a919dc;
  --text: white;
  --btn-primary: rgb(17, 96, 200);
  --btn-secondary: #a89e9ee9;
  --inp-border: rgb(137, 124, 124);
}

.required {
  color: var(--required);
}

.transaction-create-form {
  padding: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input[type=date] {
  width: 100px;
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid black;
}

.form-control {
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid grey;
}

.form-btns {
  display: flex;
  gap: 5px;
}

button {
  --text: black;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid grey;
  transition: transform 0.3s linear;
  color: var(--text);
}
button.primary {
  --text: white;
  background: var(--btn-primary);
}
button.secondary {
  --text: white;
  background: var(--btn-secondary);
}

button:active {
  transform: scale(1.015);
}
